***REMOVED******REMOVED***!-- Ace + :-***REMOVED******REMOVED*** --***REMOVED******REMOVED***

<div id="comments">
  ***REMOVED******REMOVED***#each comments***REMOVED******REMOVED***
  <h2><a href="/posts/***REMOVED******REMOVED***../permalink***REMOVED******REMOVED***#***REMOVED******REMOVED***id***REMOVED******REMOVED***">***REMOVED******REMOVED***title***REMOVED******REMOVED***</a></h2>
  <div>***REMOVED******REMOVED***body***REMOVED******REMOVED***</div>
  ***REMOVED******REMOVED***/each***REMOVED******REMOVED***
</div>
