<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="navigation">
        ***REMOVED***% for item in navigation %***REMOVED***
            <li><a href="***REMOVED******REMOVED*** item.href|escape ***REMOVED******REMOVED***">***REMOVED******REMOVED*** item.caption ***REMOVED******REMOVED***</a></li>
        ***REMOVED***% endfor %***REMOVED***
        </ul>

        ***REMOVED***% if 1 not in [1, 2, 3] %***REMOVED***

        ***REMOVED***# is equivalent to #***REMOVED***
        ***REMOVED***% if not (1 in [1, 2, 3]) %***REMOVED***

        ***REMOVED***% autoescape true %***REMOVED***
            ***REMOVED******REMOVED*** var ***REMOVED******REMOVED***
            ***REMOVED******REMOVED*** var|raw ***REMOVED******REMOVED***     ***REMOVED***# var won't be escaped #***REMOVED***
            ***REMOVED******REMOVED*** var|escape ***REMOVED******REMOVED***  ***REMOVED***# var won't be doubled-escaped #***REMOVED***
        ***REMOVED***% endautoescape %***REMOVED***

        ***REMOVED******REMOVED*** include('twig.html', sandboxed = true) ***REMOVED******REMOVED***

        ***REMOVED******REMOVED***"string #***REMOVED***with***REMOVED*** \" escapes" 'another#one' ***REMOVED******REMOVED***
        <h1>My Webpage</h1>
        ***REMOVED******REMOVED*** a_variable ***REMOVED******REMOVED***
    </body>
</html>