[submodule "assets/js/zeroclipboard"]
	path = assets/js/zeroclipboard
	url = https://github.com/zeroclipboard/zeroclipboard.git
[submodule "assets/js/dbjs"]
	path = assets/js/dbjs
	url = https://github.com/aaronpowell/db.js.git
[submodule "assets/js/ace"]
	path = assets/js/ace
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "assets/js/mute-client"]
	path = assets/js/mute-client
	url = https://github.com/coast-team/mute-client.git
	branch = netflux
[submodule "node_modules/mute-server"]
	path = node_modules/mute-server
	url = https://github.com/coast-team/mute-server.git
	branch = netflux
