<!doctype html>
<html lang="en">
	<head>
		<% include head %>
		<% include css %>
	</head>
	<body>
		<% include menu %>
		<div class="container">
		    <div class="row">
		        <div class="col-md-12">
		            <div class="jumbotron">
						<h1>Oops!</h1>
		                <h2>404 Not Found</h2>
		                <p>
		                    Sorry, an error has occured, requested page not found!
		                    Use the button below to go back to the home page or use the form in the navbar to access one of your documents.
		                </p>
		                <p>
		                    <a href="/" class="btn btn-primary btn-lg">
		                    	<span class="glyphicon glyphicon-home"></span>
		                        Home
		                    </a>
		                </p>
					</div>
		        </div>
		    </div>
		    <hr>
            <footer class="footer">
			    <p><h3><small>© LORIA 2014</small></h3></p>
			</footer>
		</div>
	</body>
</html>