<!doctype html>
<html lang="en">
    <head>
        <% include head %>
        <% include css %>
    </head>
    <body>
        <% include menu %>
        <div class="container">
            <div class="row">
            	<div class="col-md-10 col-md-offset-1">
            		<p class="lead">Sorry, this page is still under construction :)</p>
            		<p>Please return to the previous page</p>
            	</div>
            </div>
           	<hr>
            <% include footer %>
        </div>
        <% include scripts %>
    </body>
</html>