<p style="padding-top: 7px;">
    <strong>Number of distant operations waiting for integration: </strong><span id="<%= nbOperationsItemID %>" class="text-success">0 operation(s)</span><br>
    <strong>Last modification : </strong><span id="<%= lastModificationDateItemID %>"></span><br>
</p>