<h1><strong>Private doc</strong></h1>
<p class="lead">Simply enter the name of the document you want to create:</p>
<center><img src="assets/img/doc.png" alt="Document"></center>
<form class="form form-open" method="post" action="createDoc">
    <input type="text" class="form-control" id="docID" name="docID" placeholder="Document Name (leave blank for random name)">
    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password (leave blank for public document)">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Create</button>
</form>