<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="MUTE nodejs real-time collaborative-edition">
<meta name="author" content="Matthieu Nicolas">
<title><%= title %></title>
