<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf8">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<title> Essai</title>
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3>On veut juste faire quelques tests en JS, ouvre la console!</h3>
                    <div id="editor"></div>
                    <br>
                    <p>
                        <strong>Nombre d'opérations distantes en attente d'intégration : </strong><span id="compteur" class="text-success">0 opération(s)</span>
                    </p>
                </div>
            </div>
        </div>
        <script src="assets/js/jquery-2.1.0.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/ace/src/ace.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="assets/js/mute-client/build/mute-client.js"></script>
        <script src="assets/js/awareness-adapter.js"></script>
        <script>
			"use strict";
            var coordinator = new Mute.Coordinator('<%= docID %>');
            console.log(coordinator);
            var editor = new Mute.AceEditorAdapter('editor', coordinator);
            coordinator.setEditor(editor);
            var network = new Mute.SocketIOAdapter(coordinator);
            coordinator.setNetwork(network);
            var awareness = new AwarenessAdapter(coordinator, $('#compteur'));

            console.log('docID: <%= docID %>');
        </script>
	</body>
</html>
