body ***REMOVED***
	padding-top: 50px;
***REMOVED***

.form-open
***REMOVED***
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
***REMOVED***

.form-open .form-control
***REMOVED***
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
***REMOVED***
.form-open .form-control:focus
***REMOVED***
    z-index: 2;
***REMOVED***
.form-open input[type="text"]
***REMOVED***
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
***REMOVED***
.form-open input[type="password"]
***REMOVED***
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
***REMOVED***

.profile-icon
***REMOVED***
	padding: 0 40% 20px;
    margin: 10 auto 10px;
***REMOVED***

ul.menu ***REMOVED***
  margin: 0;
  padding: 0;
  top: 105px;
  right: 30px;
  font-size: 13px;    
***REMOVED***

@media (min-width: 992px) ***REMOVED***
    ul.menu ***REMOVED***
      position: fixed;
      margin: 0;
      padding: 0;
      top: 105px;
      right: 30px;
      font-size: 13px;
***REMOVED***
***REMOVED***


ul.menu li ***REMOVED***
  list-style: none;
***REMOVED***

ul.menu ul ***REMOVED***
  height: 0;
  overflow-y: hidden;
***REMOVED***

ul.menu ul.active ***REMOVED***
  height: auto;
***REMOVED***

ul.menu > li > ul > strong > a ***REMOVED***
  color: #353535;
  font-weight: bold;
***REMOVED***

ul.menu ul a ***REMOVED***
  color: #7B838A;
  padding-left: 30px;
***REMOVED***

ul.menu ul a.active ***REMOVED***
  color: #259dff;
  border-left: 2px solid #259dff;
***REMOVED***