/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after ***REMOVED***
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
***REMOVED***

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui ***REMOVED***
  display: none;
  background: white;
  z-index: 2000;
  padding: 5px;
***REMOVED***
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry ***REMOVED***
  display: none;
***REMOVED***
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up ***REMOVED***
  display: inline-table;
***REMOVED***
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down ***REMOVED***
  display: inline-table;
***REMOVED***

/* line 11, ../sass/offline-theme-default-indicator.sass */
.offline-ui ***REMOVED***
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", sans-serif;
  width: 1em;
  height: 1em;
  max-width: 100%;
***REMOVED***
/* line 20, ../sass/offline-theme-default-indicator.sass */
.offline-ui.offline-ui-up ***REMOVED***
  background: #d6e9c6;
  color: #468847;
***REMOVED***
/* line 24, ../sass/offline-theme-default-indicator.sass */
.offline-ui.offline-ui-down ***REMOVED***
  background: #ec8787;
  color: #551313;
***REMOVED***
