html ***REMOVED***
    height: 100%;
    width: 100%;
    overflow: hidden;
***REMOVED***

body ***REMOVED***
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: rgb(14, 98, 165);
    color: white;
***REMOVED***

#c9-logo, #ace-logo ***REMOVED***
    padding: 0;
    border: none;
***REMOVED***

#editor-container ***REMOVED***
    position: absolute;
    top:  0px;
    left: 280px;
    bottom: 0px;
    right: 0px;
    background: white;
***REMOVED***

#controls ***REMOVED***
    padding: 5px;
***REMOVED***

#controls td ***REMOVED***
    text-align: right;
***REMOVED***

#controls td + td ***REMOVED***
    text-align: left;
***REMOVED***
.ace_status-indicator ***REMOVED***
    color: gray;
    position: absolute;
    right: 0;
    border-left: 1px solid;
***REMOVED***